@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-toast-width {
  width: 350px;
  max-width: 90vw;
}

@media (max-width: 640px) {
  .custom-toast-width {
    width: 90vw !important;
    left: 8vw !important;
    right: auto !important;
  }
}

/* In your global CSS if the issue persists */
select {
  max-width: 100% !important;
}

/* For mobile devices */
@media (max-width: 640px) {
  select {
    max-width: calc(100vw - 2rem) !important;
  }
}